
@{
    ViewBag.Title = "CriarRestaurante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Restaurante</h2>
<div ng-controller="restauranteCtrl">

    <form>
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" id="Nome" required ng-model="restaurante.Nome">
        </div>
        <div class="form-group">

            <button class="btn btn-danger" onclick="window.location='/Restaurante'" data-toggle="tooltip">Cancelar</button>
            <button class="btn btn-success" ng-click="AddRestaurante(restaurante)" data-toggle="tooltip">Salvar</button>

        </div>
    </form>
</div>
